<div id="footer" class="card">
  <h4>@Html.ActionLink("List of Stylists", "Index", "Stylists")</h4>
  <h4>@Html.ActionLink("List of Clients", "Index", "Clients")</h4>
  <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
</div>