<div id="footer">
  <p>@Html.ActionLink("List of Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("List of Clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>