<div id="footer" class="card">
  <p>@Html.ActionLink("List of Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("List of Clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <form action="/Clients/Search" method="post">
    <label>Search for Client by Name</label>
    <input class="input" type="text" id="search" name="search">
    <input type="submit" value="Search" class="btn btn-info buttons" />
  </form>
  <form action="/Stylists/Search" method="post">
    <label>Search for Stylist by Name or Specialty</label>
    <input class="input" type="text" id="search" name="search">
    <input type="submit" value="Search" class="btn btn-info buttons" />
  </form>
</div>