<div id="header" class="jumbotron">
  <h1>Claire's Salon</h1>
  <form action="/Clients/Search" method="post">
    <label>Search for Client</label>
    <input class="input" type="text" id="search" name="search">
    <input type="submit" value="Search" class="btn btn-info buttons" />
  </form>
  <form action="/Stylists/Search" method="post">
    <label>Search for Stylist</label>
    <input class="input" type="text" id="search" name="search">
    <input type="submit" value="Search" class="btn btn-info buttons" />
  </form>
</div>