div#footer.card {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

.box {
  background-color: beige;
  height: 200px;
  width: 75%;
  overflow-y: scroll;
  margin-top: 2%;
  margin-bottom: 2%;
}

.inner-box {
  margin: 2% 5% 2% 5%;
}